@import "tailwindcss";
:root {
    background-color: #F6F7F9;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #1A202C;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}